@using Humanizer

@{
    ViewData["Title"] = "Notify expired tasks to Users";
}

<div class="panel panel-default todo-panel">
	<div class="panel-heading">@ViewData["Title"]</div>

	<p><h4 style="text-align:center">Se han enviando los emails a los usuarios!</h4></p>
	 <div style="text-align:center">
	<p><form asp-action="Index" method="POST">
			</p>
				<p><input type="submit" value="Volver a enviar mails"></p>
		</form>
		
      </div>

	<div class="panel-footer">
		<td>By Nadias Lab</td>
	</div>
</div>