AspNetCoreTodo/bin/Debug/netcoreapp2.0/AspNetCoreTodo.deps.json
AspNetCoreTodo.UnitTests/obj/Debug/netcoreapp2.1/AspNetCoreTodo.UnitTests.csproj.CoreCompileInputs.cache
AspNetCoreTodo/bin/Debug/netcoreapp2.0/AspNetCoreTodo.dll
AspNetCoreTodo/bin/Debug/netcoreapp2.0/AspNetCoreTodo.pdb
AspNetCoreTodo/bin/Debug/netcoreapp2.0/AspNetCoreTodo.deps.json
AspNetCoreTodo/bin/Debug/netcoreapp2.0/AspNetCoreTodo.runtimeconfig.dev.json
AspNetCoreTodo/bin/Debug/netcoreapp2.0/app.db
AspNetCoreTodo/obj/AspNetCoreTodo.csproj.nuget.cache
AspNetCoreTodo/obj/AspNetCoreTodo.csproj.nuget.g.props
AspNetCoreTodo/obj/AspNetCoreTodo.csproj.nuget.g.targets
AspNetCoreTodo/obj/project.assets.json
AspNetCoreTodo/obj/Debug/netcoreapp2.0/AspNetCoreTodo.dll
AspNetCoreTodo/obj/Debug/netcoreapp2.0/AspNetCoreTodo.pdb
AspNetCoreTodo/obj/Debug/netcoreapp2.0/AspNetCoreTodo.AssemblyInfo.cs
AspNetCoreTodo/obj/Debug/netcoreapp2.0/AspNetCoreTodo.assets.cache
AspNetCoreTodo/obj/Debug/netcoreapp2.0/AspNetCoreTodo.csproj.CoreCompileInputs.cache
AspNetCoreTodo/obj/Debug/netcoreapp2.0/AspNetCoreTodo.csproj.FileListAbsolute.txt
AspNetCoreTodo/obj/Debug/netcoreapp2.0/AspNetCoreTodo.csprojAssemblyReference.cache
AspNetCoreTodo/obj/Debug/netcoreapp2.0/project.razor.json
AspNetCoreTodo.IntegrationTests/obj/Debug/netcoreapp2.1/AspNetCoreTodo.IntegrationTests.AssemblyInfo.cs
AspNetCoreTodo.IntegrationTests/obj/Debug/netcoreapp2.1/AspNetCoreTodo.IntegrationTests.AssemblyInfoInputs.cache
AspNetCoreTodo.IntegrationTests/obj/Debug/netcoreapp2.1/AspNetCoreTodo.IntegrationTests.csproj.CoreCompileInputs.cache
AspNetCoreTodo.IntegrationTests/obj/Debug/netcoreapp2.1/AspNetCoreTodo.IntegrationTests.csprojResolveAssemblyReference.cache
AspNetCoreTodo.IntegrationTests/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
AspNetCoreTodo.IntegrationTests/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
AspNetCoreTodo.IntegrationTests/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
AspNetCoreTodo.IntegrationTests/obj/Debug/netcoreapp2.1/project.razor.json
AspNetCoreTodo.UnitTests/obj/Debug/netcoreapp2.1/AspNetCoreTodo.UnitTests.AssemblyInfo.cs
AspNetCoreTodo.UnitTests/obj/Debug/netcoreapp2.1/AspNetCoreTodo.UnitTests.AssemblyInfoInputs.cache
AspNetCoreTodo.UnitTests/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
AspNetCoreTodo.UnitTests/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
AspNetCoreTodo.UnitTests/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/obj/*.*
AspNetCoreTodo/obj/Debug/netcoreapp2.0/AspNetCoreTodo.assets.cache
AspNetCoreTodo/bin/Debug/netcoreapp2.0/AspNetCoreTodo.dll
AspNetCoreTodo/bin/Debug/netcoreapp2.0/AspNetCoreTodo.pdb
AspNetCoreTodo/bin/Debug/netcoreapp2.0/AspNetCoreTodo.deps.json
AspNetCoreTodo/bin/Debug/netcoreapp2.0/AspNetCoreTodo.runtimeconfig.dev.json
AspNetCoreTodo/bin/Debug/netcoreapp2.0/app.db
AspNetCoreTodo/obj/AspNetCoreTodo.csproj.nuget.cache
AspNetCoreTodo/obj/AspNetCoreTodo.csproj.nuget.g.props
AspNetCoreTodo/obj/AspNetCoreTodo.csproj.nuget.g.targets
AspNetCoreTodo/obj/project.assets.json
AspNetCoreTodo/obj/Debug/netcoreapp2.0/AspNetCoreTodo.dll
AspNetCoreTodo/obj/Debug/netcoreapp2.0/AspNetCoreTodo.pdb
AspNetCoreTodo/obj/Debug/netcoreapp2.0/AspNetCoreTodo.csproj.CoreCompileInputs.cache
AspNetCoreTodo/obj/Debug/netcoreapp2.0/AspNetCoreTodo.csproj.FileListAbsolute.txt
AspNetCoreTodo/obj/Debug/netcoreapp2.0/AspNetCoreTodo.csprojAssemblyReference.cache
AspNetCoreTodo/obj/Debug/netcoreapp2.0/AspNetCoreTodo.csprojAssemblyReference.cache
AspNetCoreTodo/bin/Debug/netcoreapp2.0/AspNetCoreTodo.dll
AspNetCoreTodo/bin/Debug/netcoreapp2.0/AspNetCoreTodo.pdb
AspNetCoreTodo/bin/Debug/netcoreapp2.0/AspNetCoreTodo.deps.json
AspNetCoreTodo/bin/Debug/netcoreapp2.0/AspNetCoreTodo.runtimeconfig.dev.json
AspNetCoreTodo/obj/AspNetCoreTodo.csproj.nuget.cache
AspNetCoreTodo/obj/AspNetCoreTodo.csproj.nuget.g.props
AspNetCoreTodo/obj/AspNetCoreTodo.csproj.nuget.g.targets
AspNetCoreTodo/obj/project.assets.json
AspNetCoreTodo/obj/Debug/netcoreapp2.0/AspNetCoreTodo.dll
AspNetCoreTodo/obj/Debug/netcoreapp2.0/AspNetCoreTodo.pdb
AspNetCoreTodo/obj/Debug/netcoreapp2.0/AspNetCoreTodo.assets.cache
AspNetCoreTodo/obj/Debug/netcoreapp2.0/AspNetCoreTodo.csproj.CoreCompileInputs.cache
AspNetCoreTodo/obj/Debug/netcoreapp2.0/AspNetCoreTodo.csproj.FileListAbsolute.txt
